.footer {
    background-color: $dark-grey;
    padding: $mini 0 2em 1.5em;
    color: $white;
    h3 {
        font-family: 'Shrikhand';
        color: $white;
    }
    &__list {
        margin: $null;
        padding: $null;
        list-style-type: none;

        @include pc {
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
    }
    @include pc {
        height: 10em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}