$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;


.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.page{
    animation: page 0ms 3000ms both;
}

.loader{
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background: $btn-color;
        height: $max;
        width: $size;
        animation: bars $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

/* les barres commencent à 50% de leur valeur pour atteindre 100% à la fin de l'animation */
@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

@keyframes page{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}
        