.btn {
    background: $btn-color;
    border-radius: 2em;
    height: 3em;
    border: 0;
    box-shadow: 0 0.3rem 0.2rem #0000008a;
    color: $white;
    font-weight: bold;
    padding: 0 1.5em 0 1.5em;
    margin-bottom: $mini;
    cursor: pointer;
    &__center {
        display: flex;
        justify-content: center;
    }
}


@keyframes check {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}




.main{
  background-color: $white;
  border: 1px solid $grey;
  display: flex;
  border-radius: 1.5em;
  padding: $mini;
  overflow: hidden;
  position: relative;
  margin: $mini 0;
  &:hover .check{
    right: 0;
  }
  &:hover .prix{
    text-indent: -10em;
  }
  &:hover .fa-check-circle{
    animation: check 0.5s ease-in-out;
  }


  @include tablette-pc{
    width: 70%;    
  }
}

.descriptif{
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  cursor: pointer;
  h3 {
    margin: 0em;
  }
}

.prix{
  width: 30%;
  transition: all 0.2s linear 0s;
  background-color: $white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.check{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 2em;
  background-color: $colour-tertiary;
  width: 4em;
  height: 100%;
  top: 0;
  right: -5em;
  transition: all 0.2s linear 0s;
}