.body {
    font-family: 'Roboto';
    width: $max;
    margin: $null;
    section{
        padding: $mini;
    }
}

.accueil {
    text-align: center;
    display: flex;
    flex-direction: column;
    &__logo {
        width: 50%;
        object-fit: cover;
        padding: $mini;
        @include pc{
            width: 25%;
        }
    }
    &__logodiv {
        box-shadow: 0 0 1em #0000008a;
        position: relative;
    }
    &__ville {
        background-color: $grey;
        padding: 0.8em;
    }       
    &__explore {
        background-color: $light-grey;
        padding: $mini;
    }
}

.restaurants {
    background-color: $light-grey;
    
    @include tablette-pc {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
    }
    & h3 {
        width: 100%;
    }
    &__new{
        position: absolute;
        background-color: $colour-tertiary;
        font-weight: bold;
        color: darken($color: $colour-tertiary, $amount: 30);
        padding: 0.2em 0.7em 0.2em 0.7em;
        border-radius: 0.2em;
        right: $mini;
        margin: $mini;
    }
    &__article{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: $radius;
        overflow: hidden;
        height: 15em;
        margin-bottom: $mini;
        box-shadow: 0 0 1rem #0000002e;

        @include tablette-pc {
            width: 45%;
            flex-direction: row;
        }

    }
    &__text{
        flex: 1;
        margin: $null;
        p, h4{
            margin: $null;
            padding-left: $mini;
        }
        h4{
            padding-top: 0.5em;
        }
    }
    &__image{
        object-fit: cover;
        width: $max;
        height: 75%;
    }
    
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    &__titre {
        align-self: flex-start;
    }
    &__balise {
        display: flex;
        background-color: $light-grey;
        text-align: center;
        border-radius: $radius;
        margin-bottom: $mini;
        height: 4em;
        width: 95%;
        align-items: center;
        font-weight: bold;
        &:hover {
            background-color: lighten($color: $colour-primary, $amount: 37);
            & .detail__art {
                color: $colour-primary;
            }
        }
        
    }
    &__number {
        background-color: $colour-primary;
        color: $white;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        margin-left: -.6em;
    }
    &__text {
        padding-left: 2em;
        padding-right: 2em;
        flex: 1;
    }
    
}
