.accueil__menu {
    margin-bottom: -2em;
}

.menu {
    position:relative;
    border-radius: $radius;
    background-color: $light-grey;
    h1 {
        font-family: 'Shrikhand';
    }
    &__titre {
        display: flex;
        justify-content: space-between;
    }
    &__main {
        font-weight: bold;
    }
    &__btn {
        margin-top: 2em;
        text-align: center;
    }








    &__plat{
        display: flex;
        padding: $mini;
        background: $white;
        margin: 20px auto;
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        transition: .2s;
        cursor: pointer;
        border-radius: $radius;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        &:hover {
            .menu__chkbtn{
                right: 0;
            }
            .menu__price{
                margin-right : 65px;
            }
            .fa-check-circle{
                transition: check ease-in-out;
            }
        }
    }
    &__chkbtn{
        position: relative;
        width: 200px;
        height: 100%;
        background: $colour-tertiary;
        right: -100%;
        transition: .3s;
    }
    &__price{
        transition : .3s;
    }
    &__test{
        display: flex;
    }
}
