$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$dark-grey: #353535;
$white: #fff;
$btn-color: linear-gradient(to bottom right, $colour-secondary, $colour-primary);

$max: 100%;

$null: 0;

$mini: 1em;

$radius: 1em;



$breakpoints: (
    mobile: 599px,
    pc: 900px
);

@mixin tablette-pc {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: map-get($breakpoints, pc)){
        @content;
    }
}