$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$dark-grey: #353535;
$btn-color: linear-gradient(to bottom right, $colour-secondary, $colour-primary);



//breakpoint pour les tailles d'écran//

$breakpoints: (
    mobile: 599px,
    pc: 900px,
    wide: 1440px
);




//variables du loader//

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
$delay: 3000ms;